.form-create-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #FFC960;
    border: 1px solid;
    border-radius: 10px;
}
.new-beehive {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.new-beehive input {
    height: 20px;
    margin-bottom: 10px;
}

.new-beehive select {
    height: 20px;
    margin-bottom: 10px;
}

.new-beehive .buttons {
    gap: 15px;
}