.beehives-preview-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.beehives-preview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFC960;
    border: 1px solid;
    border-radius: 10px;
    color: inherit;
}

.beehives-preview .left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.beehives-preview .left-part .logo img {
    padding-top: 5px;
    max-height: 60px;
}

.beehives-preview .buttons {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.beehives-preview .right-part .description {
    color: #214A73;
    padding-left: 15px;
    padding-right: 15px;
}

.beehives-preview .right-part .description .dateTime {
    font-size: 12px;
}


