.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete-confirmation {
    background: rgba(255, 201, 96, 1);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 8px;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
}

.overlay {
    cursor: pointer;
}