.form-create-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #FFC960;
    border: 1px solid;
    border-radius: 10px;
}
.new-entry {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 20px;
}

.new-entry .heading {
    padding-top: 10px;
    padding-bottom: 5px;
}

.new-entry input {
    margin-bottom: 10px;
}

.new-entry .buttons {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 15px;
}