footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.left {
    width: 50px;
}

.mid {
    width: 50px;
}