header {
    color: orange;
    padding: 5px 5px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    max-height: 50px;
}

.login {
    width: 50px;
}